.final-order-aria {
  padding: 31px 15px 28px 25px;
}
.order-item-aria.my-3 {
  background: #e8e8e8;
  padding: 5px;
  border-radius: 15px;
}
.orders-items-aria {
  max-height: 345px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}
.place-order-btn-disable {
  background: gray;
  cursor: not-allowed;
  width: 100%;
  padding: 10px 0;
}