.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
div img {
	width: 100%;
}
input:focus {
	outline-style: none;
	border:none;
}
.primary-btn {
	background: #e51a4b;
	color: #fff;
	border-radius: 30px;
	padding: 0px 25px;
	font-size: 18px;
}